<h1>Hello World!!!! </h1>
<ul>
    
@for(var i = 0; i < 10; i++)
{
    <li>@i</li>
}
</ul>

<div *ngIf="showme">
    <span style="{color: 'red'}">
        trigger by angular2
    </span>
</div>
<button class="btn btn-default" (click)="showme= !showme">toggle</button>